/*****************************
        Tagcloud and tags s
******************************/

.cloud{
        margin: 0;
        padding: 0;
        position: relative;
        float: left;
}

.tag a{
        margin: 0;
        padding: 1px 2px 0 0;
        text-decoration: none;
        color: #000000;
        font-family: Verdana, Arial, serif, sans-serif;
        position: relative;
        float: left;
     
}

.tag a:hover{
        text-decoration: underline;
           cursor: pointer;
}

.tag a img{
        border: none;
}

.tag1 a {
        font-size: 1em;
        font-weight: 100;
          
}

.tag2 a{
        font-size: 1.2em;
        font-weight: 200;
}

.tag3 a{
        font-size: 1.4em;
        font-weight: 300;
}

.tag4 a{
        font-size: 1.6em;
        font-weight: 400;
}

.tag5 a{
        font-size: 1.8em;
        font-weight: 500;
}

.tag6 a{
        font-size: 2em;
        font-weight: 600;
}

.tag7 a{
        font-size: 2.2em;
        font-weight: 700;
}

.tag8 a{
        font-size: 2.4em;
        font-weight: 800;
}

.tag9 a{
        font-size: 2.6em;
        font-weight: 900;
}

.tag10 a{
        font-size: 2.8em;
        font-weight: 900;
}

/*****************************
        Colors
******************************/

.red a{
        color: #EE0000;
}

.green a{
        color: #69CE00;
}

.blue a{
        color: #007CFF;
}

.lightblue a{
        color: #00C2EC;
}

.orange a{
        color: #FF9B00;
}

.pink a{
        color: #FF04DA;
}

.brown a{
        color: #A57100;
}

.purple a{
        color: #9A00CE;
}

.black a{
        color: #000000;
}

.white a{
        color: #FFFFFF;
}

.lightgrey a{
        color: #CCCCCC;
}

.grey a{
        color: #999999;
}

.darkgrey a{
    color: #666666;
}

/*****************************
        Orientations
******************************/

.verticalL a{
        writing-mode: tb-rl;
    filter: flipV() flipH();
}

.verticalR a{
        writing-mode: tb-rl;
}
.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}
.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
}
.myprofileView {
background: #f2f5f6; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjVmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2UzZWFlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOGQ3ZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-8 */

}
.signupBackground {background: #e0f3fa; /* Old browsers */
background: -moz-linear-gradient(top,  #e0f3fa 0%, #b8e2f6 6%, #d8f0fc 97%, #b6dffd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f3fa), color-stop(6%,#b8e2f6), color-stop(97%,#d8f0fc), color-stop(100%,#b6dffd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e0f3fa 0%,#b8e2f6 6%,#d8f0fc 97%,#b6dffd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e0f3fa 0%,#b8e2f6 6%,#d8f0fc 97%,#b6dffd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e0f3fa 0%,#b8e2f6 6%,#d8f0fc 97%,#b6dffd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e0f3fa 0%,#b8e2f6 6%,#d8f0fc 97%,#b6dffd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */



}
.gradientText {
color:black;
letter-spacing:0.5px
}
.gradientTB {

	width: 221px;
	background: transparent url('images/bg.jpg') no-repeat;
	color : #747862;
	height:20px;
	border:0;
	padding:4px 8px;
	margin-bottom:0px;
}
.signupTB {
	width: 200px;
	height: 30px;
}